<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Take a look about my skills</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h2>Web Design</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quas magnam sed veritatis qui quam numquam in, quae non vero vel esse deleniti. Est cumque provident architecto facilis, tenetur quidem.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h2>MEAN Stack</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus aliquid dolorum officia sed illum id qui harum assumenda reprehenderit facere, saepe nemo neque quod minima fuga</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h2>UI/UX Designer</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deserunt possimus sit dolore deleniti repudiandae quaerat, accusamus, praesentium iste rerum molestias ducimus unde q</p>
        </div>
      </div>
    </div>
  </div>
